/* font primary and buttons color #757575 */
/* font title color #212121 */
/* white font color #FFFFFF */
/* accent color #2196F3 */
/* header logo font #000000 */
/* footer contacts font rgba(255, 255, 255, 0.6) */

/* header background color #FFFFFF */
/* primary background color #F5F5F5 */
/* secondary background color #F5F4FA */
/* hero and footer background color #2F303A */
/* active btn #188CE8 */

:root {
  --primary-color: #757575;
  --title-color: #212121;
  --accent-color: #2196F3;
  --white-font-color: #FFFFFF;
  --header-logo-color: #000000;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --header-background-color: #FFFFFF;
  --primary-background-color: #F5F5F5;
  --secondary-background-color: #F5F4FA;
  --hero-footer-background-color: #2F303A;
  --active-btn: #188CE8;
}


body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
  background-color: var(--primary-background-color);
}




/* Logo for header and footer*/

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-header {
  color: var(--header-logo-color);
}

.logo-footer {
  color: var(--white-font-color);
}

/* Header */

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.site-nav .active {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contacts-header .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-header .link:hover,
.contacts-header .link:focus {
  color: var(--accent-color);
}

.header-box {
  background-color: var(--header-background-color);
}

/* Studio page - Hero */

.hero .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-font-color);
}

.hero .btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-font-color);
  background-color: var(--accent-color);
}

.hero .btn:hover,
.hero .btn:focus {
  background-color: var(--active-btn);
  cursor: pointer;
}

.hero {
  background-color: var(--hero-footer-background-color);
}

/* Studio page - Features */

.features .title {
  visibility: hidden;
}

.features .subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.features .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Studio page - Services */

.services .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

/* Studio page - Team */

.team .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team .subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team .text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team {
  background-color: var(--secondary-background-color);
}

/* Portfolio page - Buttons */

.portfolio .title {
  visibility: hidden;
}

.portfolio .btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--secondary-background-color);
}

.portfolio .btn:hover,
.portfolio .btn:focus {
  color: var(--white-font-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

/* Portfolio - work samples */

.portfolio .subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.portfolio .text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}


/* Footer */

.contacts-footer .link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}

.contacts-footer .address {
  color: var(--white-font-color);
}
 
.contacts-footer .link:hover,
.contacts-footer .link:focus {
  color: var(--accent-color);
}

.footer-box {
  background-color: var(--hero-footer-background-color);
}

/* removes default color and under-line for hyperlinks */

a {
  text-decoration: none;
  color: inherit
}

/* removes bullets from ul */

.list {
  list-style: none;
}



